*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1
}

:root {
    --color0: #ffffff;
    --color1: #000000;
    --color2: #0a0e1a;
    --color3: #10101099;
    --google-logo-color-blue: #4285f4;
    --google-logo-color-green: #34a853;
    --google-logo-color-yellow: #fbbc05;
    --google-logo-color-red: #ea4335;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color2);
    background-image: url(../img/wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 80px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
    gap: 20px;
}

main {
    height: calc(100vh - 80px);
}

#btnBack {
    font-size: 50px;
    width: 50px;
    font-weight: 800;
    color: white;
}

#btnBack:hover {
    cursor: pointer;
}

#titleMenu {
    font-size: 20px;
    background-color: var(--color3);
    color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px #00000069;
}

#titleMenu::after {
    content: '';
    background-color: white;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}

#titleMenu:hover {
    cursor: pointer;
}

#dockerMeetFunctions {
    background-color: var(--color3);
    height: 60px;
    width: 90vw;
    border-radius: 20px;
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    box-shadow: -5px 8px 15px #00000099;
}

.meetFunctions {
    display: flex;
    justify-content: center;
    background-color: #1b1b1b99;
    color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: -5px 8px 15px #00000099;
}

.meetFunctions.active {
    background-color: var(--color0);
    color: var(--color1);
}

.meetFunctions:hover {
    /*background-color: #11111199;
    color: var(--color0);*/
    cursor: pointer;
}

#callEnd {
    background-color: var(--google-logo-color-red);
    height: 80px;
    width: 80px;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px #00000099;
}

#callEnd:hover {
    cursor: pointer;
}

#dockerOptions {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    gap: 10px;
    background-color: var(--color3);
    backdrop-filter: blur(5px);
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    bottom: calc(-100% + 450px);
    margin: auto;
    box-shadow: -5px 8px 15px #00000099;
}

#dockerOptions .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    color: #cccccc;
    gap: 10px;
    border-radius: 10px;
}

#dockerOptions .options span {
    font-size: 40px;
}

#dockerOptions .options p {
    text-align: center;
}

#userView {
    background-color: var(--color3);
    height: 180px;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    position: absolute;
    right: 5vw;
    bottom: 100px;
    transition: .5s;
    overflow: hidden;
}

#userView.resize0 {
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50%;
    display: block;
}

#userView.resize0 #floatScreenResizer {
    visibility: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#userHandBox {
    display: flex;
    align-items: center;
}

#userImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#floatScreenResizerBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#userView #userHandCallBack {
    background-color: var(--color0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

#userView #floatScreenResizer {
    background-color: var(--color3);
    color: var(--color0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userView #userImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#userImageBox #videocam2, #mic2{
    display: none;
}

#userImageBox #floatScreenResizer2 {
    visibility: hidden;
    background-color: var(--color3);
    color: var(--color0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
