*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1
}

:root {
    --color0: #ffffff;
    --color1: #000000;
    --color2: #0a0e1a;
    --color3: #20202099;
    --google-logo-color-blue: #4285f4;
    --google-logo-color-green: #34a853;
    --google-logo-color-yellow: #fbbc05;
    --google-logo-color-red: #ea4335;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 80px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
    gap: 20px;
}

main {
    height: calc(100vh - 80px);
}

#btnBack {
    font-size: 50px;
    width: 50px;
    font-weight: 800;
    color: white;
}

#btnBack:hover {
    cursor: pointer;
}

#titleMenu {
    font-size: 20px;
    background-color: var(--color3);
    color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px #00000069;
}

#titleMenu::after {
    content: '';
    background-color: white;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}

#titleMenu:hover {
    cursor: pointer;
}

#dockerMeetOptions {
    background-color: var(--color3);
    height: 60px;
    width: 90vw;
    border-radius: 20px;
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    box-shadow: -5px 8px 15px #00000099;
}

.meetFunctions {
    display: flex;
    justify-content: center;
    background-color: #1b1b1b99;
    color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: -5px 8px 15px #00000099;
}

.meetFunctions:hover {
    /*background-color: #11111199;
    color: var(--color0);*/
    cursor: pointer;
}

#callEnd {
    background-color: var(--google-logo-color-red);
    height: 80px;
    width: 80px;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px #00000099;
}

#callEnd:hover {
    cursor: pointer;
}

.active {
    background-color: var(--color0);
    color: var(--color1);
}

