*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1
}

:root {
    --color0: #ffffff;
    --color1: #000000;
    --color2: #0a0e1a;
    --background-color0: hsl(225, 45%, 5%);
    --background-color1: hsla(225, 15%, 5%, 0.6);
    --background-color2: hsla(225, 15%, 5%, 0.8);
    --box-shadow-color: #00000099;
    --google-logo-color-blue: #4387f4;
    --google-logo-color-green: #34a853;
    --google-logo-color-yellow: #fbbc05;
    --google-logo-color-red: #ea4335;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color0);
    /*background-image: url(../img/wallpaper.jpeg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    height: 80px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
    gap: 20px;
}

main {
    height: calc(100vh - 80px);
    overflow: hidden;
}

#btnBack {
    font-size: 50px;
    width: 50px;
    font-weight: 800;
    color: var(--color0);
}

#titleMenu {
    font-size: 20px;
    background-color: var(--background-color1);
    color: var(--color0);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px var(--box-shadow-color);
}

#titleMenu::after {
    content: '';
    background-color: var(--color0);
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}

#dockerMeetFunctions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color1);
    height: 60px;
    width: 90vw;
    border-radius: 20px;
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    box-shadow: -5px 8px 15px var(--box-shadow-color);
}

.meetFunctions {
    display: flex;
    justify-content: center;
    background-color: var(--background-color2);
    color: var(--color0);
    padding: 8px;
    border-radius: 50%;
    box-shadow: -5px 8px 15px var(--box-shadow-color);
}

.meetFunctions.active {
    background-color: var(--color0);
    color: var(--color1);
}

#callEnd {
    background-color: var(--google-logo-color-red);
    height: 80px;
    width: 80px;
    color: var(--color0);
    font-size: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 8px 15px var(--box-shadow-color);
}

#callEnd:hover {
    cursor: pointer;
}

#dockerOptions {
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    gap: 10px;
    position: absolute;
    left: 2vh;
    bottom: calc(80px + 3vh);
    background-color: var(--background-color2);
    height: 0px;
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -5px 8px 15px var(--box-shadow-color);
    overflow: hidden;
    transition: .3s;
}

#dockerOptions.active {
    visibility: visible;
    height: 350px;
}

#dockerOptions .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    color: #cccccc;
    gap: 10px;
    border-radius: 10px;
}

#dockerOptions .options span {
    font-size: 40px;
}

#dockerOptions .options p {
    text-align: center;
}

#userView {
    background-color: var(--background-color1);
    height: 180px;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    overflow: hidden;
}

#userView #mic, #userView #videocam {
    display: none;
}

#userView.resize0 {
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50%;
    display: block;
}

#userView.resize0 #floatScreenResizer {
    visibility: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userView.resize1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 160px;
    border-radius: 30px;
    padding: 0;
}

#userView.resize1 #userImage {
    margin: -10px;
}

#userView.resize1 #mic, #userView.resize1 #videocam {
    display: block;
    background-color: none;
}

#userView.resize1 #floatScreenResizer {
    visibility: visible;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

#userHandBox {
    display: flex;
    align-items: center;
}

#userImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#floatScreenResizerBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#userView #userHandCallBack {
    background-color: var(--color0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

#userView #floatScreenResizer {
    background-color: var(--background-color1);
    color: var(--color0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userView #userImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#userImageBox #videocam2, #mic2{
    display: none;
}
