<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menuiniciar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>meet</title>
</head>
<body>
    <header>
        <span id="btnBack" class="material-symbols-outlined">
            arrow_back_ios
        </span>
        <div id="titleMenu">
            <p>xhe-fghm-jki</p>
        </div>
    </header>
    <main>
        <div id="dockerMeetOptions" class="flex">
            <div class="meetFunctions flex">
                <span class="material-symbols-outlined">
                    front_hand
                </span>
            </div>
            <div class="meetFunctions flex">
                <span class="material-symbols-outlined">
                    videocam
                </span>
            </div>
            <div id="callEnd" class="meetFunctions flex">
                <span class="material-symbols-outlined">
                    call_end
                </span>
            </div>
            <div class="meetFunctions flex">
                <span class="material-symbols-outlined">
                    mic
                </span>
            </div>
            <div class="meetFunctions">
                <span class="material-symbols-outlined">
                    more_vert
                </span>
            </div>
        </div>
    </main>

</body>
</html>